.item__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.item__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 85px 50px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .item__inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px;
    }
}

.heading-nav-list{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.heading-nav-item-1,
.heading-nav-item-2 {
    padding: 0px 50px;
}

.heading-nav-item-1 {
    color: red;
    font-weight: bold;
    border-bottom: 4px solid red;
    padding-bottom: 5px;
    border-radius: 2px;
}

.item__img img {
    width: 100%;
    height: 180px;
}
