.item-detail__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.item-detail__inner {
    display: flex;
}
.item__img img {
    width: 70%;
    height: 400px;
}

.item-info {
    width: 35em;
}

.price {
    font-size: 25px;
}

.purchase_link {
    display: inline-block;
    width: 80%;
    text-align: center;
    border: 1px solid #FF5655;
    padding: 10px;
    background-color: #FF5655;
    color: #fff;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.category {
    display: flex;
}

.condition {
    display: flex;
}

.ttl {
    font-weight: bold;
    padding:20px 0 ;
}

.category__item {
    padding: 20px 0 0 100px;

}

.condition__item {
    padding: 20px 100px;
}

.favorites-comments__content {
    display: flex;
}

.favorites, .comments {
    padding: 20px 0;
}

.favorites-submit, .comments-submit {
    border-style: none;
    background: none;
}

.heart-img, .speech_bubble-img {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

.favorites-count {
    padding-left: 40px;
    font-size: 12px;
}