.item-detail__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.item-detail__inner {
    display: flex;
}
.item__img img {
    width: 70%;
    height: 400px;
}

.item-info {
    width: 35em;
}

.price {
    font-size: 25px;
}

.purchase_link {
    display: inline-block;
    width: 80%;
    text-align: center;
    border: 1px solid #FF5655;
    padding: 10px;
    background-color: #FF5655;
    color: #fff;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.purchase_link-text {
    font-size: 15px;
}

.description {
    white-space: pre-wrap; /*改行も空白も保存できる*/
}

.category {
    display: flex;
    margin: 50px 0;
}

.condition {
    display: flex;
}

.category__ttl {
    font-weight: bold;
    margin-right: 100px;
}

.condition__ttl {
    font-weight: bold;
    margin-right: 120px;
}

.category__item {
    margin: 0 10px;
    padding: 0 13px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #ddd;
}


.favorites-comments__content {
    display: flex;
}

.favorites, .comments {
    padding: 20px 0;
}

.favorites-submit, .comments-submit {
    border-style: none;
    background: none;
}

.heart-img, .speech_bubble-img {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

.favorites-count {
    padding-left: 40px;
    font-size: 12px;
}