

.heading{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.user-profile {
    display: flex;
}

.img-preview {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-name {
    margin: 50px;
}

.profile-link {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid red;
    padding: 10px 30px;
    background-color: #fff;
    color: red;
    margin: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.profile-link:hover {
    background-color: #ffdcdf;
}
.menu-nav-list {
    display: flex;
    justify-content: center;
}

.icon-img {
    width: 35px;
    height: 35px;
    display: flex;
    margin: 0 auto;
}

.menu-nav-list-item {
    border: 1px solid #CECECE;
    margin: 10px;
    padding: 17px 45px 5px;
    border-radius: 5px;
}

.item__ttl {
    font-size: 17px;
}
