.profile__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}


.profile__ttl {
    text-align: center;
    margin: 20px;
}

.img-preview {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
}


.custom-file-upload {
    display: inline-block;
    border: 1px solid red;
    padding: 5px 20px;
    background-color: #fff;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50px;
}

.custom-file-upload:hover {
    background-color: #ffdcdf;
}

.content{
    display: flex;
    justify-content: center;
}

.form__group {
    margin: 10px;

}

.form__label {
    font-weight: bold;
}

.form__input,
.payment__select {
    display: block;
    padding: 8px 12px;
    width: 35em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #909090;
    background-color: #fff;
}


