
.sell__ttl {
    text-align: center;
    margin: 20px;
}

.sell__content {
    display: flex;
    justify-content: center;
}

.textarea {
    white-space: pre-wrap;
    width: 100%;
    height: 150px;
}